<%- include('./partials/header') -%>

<div style="margin:150px auto;" class="container">
    <h4 >Admin panel</h4>
    <table class="w-100 p-3 table-bordered text-center" >
        <tr>
            <th class="py-2">Number</th>
            <th class="py-2">Blog</th>
            <th class="py-2">Date</th>
            <th class="py-2">Accept</th>
            <th class="py-2">Reject</th>
        </tr>
        

        <% blogs.forEach((blog)=>{ %>
            <tr >
                <td><%= blogs.indexOf(blog) + 1 %></td>
                <td><a href="/tempBlog/<%=blog._id%>"><%= blog.title %></a></td>
                <td><%= blog.date %></td>
                <td> <form action="/blog/confirmnew" method="post">
                    <input type="hidden" name="id" value="<%=blog._id%>">
                    <button type="submit" class="btn btn-success d-block mx-auto my-2">Accept</button>
                    </form>
                </td>
                <td><form action="/blog/rejectnew" method="post">
                    <input type="hidden" name="id" value="<%=blog._id%>">
                    <button type="submit" class="btn btn-danger d-block mx-auto my-2">Reject</button>
                    </form></td>
            </tr>
        <% }) %>
        
    </table>
</div>




<%- include('./partials/footer') -%>
