<%- include('../partials/header') -%>
  <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="/vendors/linericon/style.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/blog.css">

<main class="site-main">
    <!--================Hero Banner start =================-->  
    <!-- <section class="mb-30px mt-4">
      <div class="container">
        <div class="hero-banner">
          <div class="hero-banner__content">
            <h3>Blog Posts</h3>
            <h1>AWS Educate</h1>
            <h4>December 12, 2018</h4>
          </div>
        </div>
      </div>
    </section> -->
    <!--================Hero Banner end =================-->  

    <!--================ Blog slider start =================-->  
    <section>
        
      <div class="container mt-3">
          <h1 class="my-5">AWS Community <span class="font-weight-light">Blog</span> </h1>
        </div>
        
    <!--================ Blog slider end =================-->  

    <!--================ Start Blog Post Area =================-->
    <section class="blog-post-area section-margin mt-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
        <% if (blogs) { %>
            <% for(var blog of blogs){ %>
                <% if (blogs.indexOf(blog) > 3){ %>
                  <% break;} %>              
                <div class="col-md-6">
                  <div class="single-recent-blog-post card-view">
                    <div class="thumb">
                      <img class="card-img rounded-0" src="<%= blog.image %>" alt="image">
                      <ul class="thumb-info">
                        <li><a href="#"><i class="ti-user"></i><%=blog.author%></a></li>
                      </ul>
                    </div>
                    <div class="details mt-20">
                      <a href="/blog/<%=blog._id%>">
                        <h3><%= blog.title%></h3>
                      </a>

                      <p class="tag-list-inline">Tags: 
                        <% blog.tags.forEach((tag)=>{ %>
                        <a href="#" class="tag"><%=tag%></a>
                        <%})%>
                      </p>

                        <p><%= blog.description%></p>
                      <a class="button rounded" href="/blog/<%=blog._id%>">Read More <i class="ti-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
            <% } %>

            </div>
             
            <% for(var blog of blogs){ %>
              <% if (blogs.indexOf(blog) < 3){ %>
                <% continue;} %>  
            <div class="single-recent-blog-post">
              <div class="thumb">
                <img class="img-fluid w-100" src="<%= blog.image %>" alt="">
                <ul class="thumb-info">
                  <li><a href="#"><i class="ti-user"></i><%=blog.author%></a></li>
                  <li><a href="#"><i class="ti-notepad"></i>January 12,2019</a></li>
                </ul>
              </div>
              <div class="details mt-20">
                <a href="/blog/<%=blog._id%>">
                  <h3><%= blog.title%></h3>
                </a>
                <p class="tag-list-inline">Tags: 
                  <% blog.tags.forEach((tag)=>{ %>
                    <a href="#" class="tag"><%=tag%></a>
                  <%})%>
                </p>
                <p><%= blog.description%></p>
                <a class="button rounded" href="/blog/<%=blog._id%>">Read More <i class="ti-arrow-right"></i></a>
              </div>
            </div>
       <% } %>

       <% } else { %> 
        <div class="col-md-8">
          <div class="single-recent-blog-post card-view">
            <p>Sorry there are no blogs available yet :(</p>
          </div>
        </div>
        <% } %>

            <div class="row">
              <div class="col-lg-12">
                  <nav class="blog-pagination justify-content-center d-flex">
                      <ul class="pagination">
                          <li class="page-item">
                              <a href="#" class="page-link" aria-label="Previous">
                                  <span aria-hidden="true">
                                      <i class="ti-angle-left"></i>
                                  </span>
                              </a>
                          </li>
                          <li class="page-item active"><a href="#" class="page-link">1</a></li>
                          <li class="page-item"><a href="#" class="page-link">2</a></li>
                          <li class="page-item">
                              <a href="#" class="page-link" aria-label="Next">
                                  <span aria-hidden="true">
                                      <i class="ti-angle-right"></i>
                                  </span>
                              </a>
                          </li>
                      </ul>
                  </nav>
              </div>
            </div>
          </div>

          <!-- Start Blog Post Siddebar -->
          <div class="col-lg-4 sidebar-widgets">
              <div class="widget-wrap">
                
                  <div class="single-sidebar-widget newsletter-widget">
                    <h4 class="single-sidebar-widget__title">Newsletter</h4>
                    <form class="needs-validation" novalidate onsubmit="return false">
                      <div class="form-group mt-30">
                        <div class="col-autos">
                          <input type="email" id="newsletter" class="form-control" name="email" placeholder="Enter email" onfocus="this.placeholder = ''"
                          onblur="this.placeholder = 'Enter email'" required>
                        </div>
                      </div>
                      <button id="subscribe-btn" class="bbtns d-block mt-20 w-100 rounded" type="submit">Subcribe</button>
                      <p style="color: #2A3544; font-size: .9rem; display: none;">You have been subscribed sucessfully! :)</p>
                      <script src="js/blog.js"></script>
                    </form>
                    <!-- <form class="needs-validation" novalidate onsubmit="return false">
                        <div class="form-group">
                          <input type="text" class="form-control" id="validationCustom01" name="name" placeholder="name" pattern="[A-Za-z ]{1,50}" required>
                          
                        </div>
                        <div class="form-group email">
                          <input type="email" class="form-control" id="" name="email" placeholder="email" value="" required>
                          
                        </div>
                        
                      <button class="btn mt-1 font-weight-bold button" type="submit">Subscribe</button>
                  </form> -->
                  
                  </div>
                
                <div class="single-sidebar-widget post-category-widget">
                  <h4 class="single-sidebar-widget__title">Category</h4>
                  <ul class="cat-list mt-20">
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Cloud</p>
                        <p>(03)</p>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Technology</p>
                        <p>(09)</p>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>AWS Pakistan</p>
                        <p>(12)</p>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Open Source</p>
                        <p>(02)</p>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Pages</p>
                        <p>(10)</p>
                      </a>
                    </li>
                  </ul>
                </div>

                <div class="single-sidebar-widget popular-post-widget">
                  <h4 class="single-sidebar-widget__title">Popular Post</h4>
                  <div class="popular-post-list">

                    <% for(var blog of blogs){ %>
                      <% if (blogs.indexOf(blog) > 2){ %>
                        <% break;} %>  
                      <div class="single-post-list">
                        <div class="thumb">
                          <img class="card-img rounded-0" src="<%= blog.image %>" alt="">
                          <ul class="thumb-info">
                            <li><a href="blog/<%= blog._id%>"><%=blog.author%></a></li>
                            <li><a href="blog/<%= blog._id%>"><%=blog.date%></a></li>
                          </ul>
                        </div>
                        <div class="details mt-20">
                          <a href="blog/<%= blog._id%>">
                            <h6><%=blog.title%></h6>
                          </a>
                        </div>
                      </div>
                    <% } %>
      
                  </div>
                </div>

                  <div class="single-sidebar-widget tag_cloud_widget">
                    <h4 class="single-sidebar-widget__title">Popular Tags</h4>
                    <ul class="list">
                      <li>
                          <a href="#" class="tag-list rounded">AWS</a>
                      </li>
                      <li>
                          <a href="#" class="tag-list rounded">Cloud</a>
                      </li>
                      <li>
                          <a href="#" class="tag-list rounded">Technology</a>
                      </li>
                      <li>
                          <a href="#" class="tag-list rounded">Communication</a>
                      </li>
                      <li>
                          <a href="#" class="tag-list rounded">Resourceful</a>
                      </li>
  
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          <!-- End Blog Post Siddebar -->
        </div>
    </section>
    <!--================ End Blog Post Area =================-->
  </main>
  <%- include('../partials/footer') -%>
