<%- include('../partials/header') -%>
<link rel="stylesheet" href="/css/show.css">
<section class="blog-post-area mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
            <div class="main_blog_details">
                <img class="img-fluid w-100" src="<%=blog.image%>" alt="">
                <a href="#"><h4><%=blog.title%></h4></a>
                <p class="text-muted"><%=blog.description%></p>
                <div class="user_details">
                    
                  <div class="float-left">
                      Tags: &nbsp;
                      <% blog.tags.forEach((tag)=>{ %>
                        <a href="#" class="rounded"><%= tag %></a>
                    <% }) %>
                  </div>
                  <div class="float-right mt-sm-0 mt-3">
                    <div class="media">
                      <div class="media-body">
                        <h5><%=blog.author%></h5>
                        <p><%=blog.date%></p>
                      </div>
                      <!-- <div class="d-flex">
                        <img width="42" height="42" src="/img/blog/user-img.png" alt="">
                      </div> -->
                    </div>
                  </div>
                  
                </div>
                <p><%=blog.text%></p>
                <% if (blog.quote) { %>
                    <blockquote class="blockquote">
                        <p class="mb-0">"<%=blog.quote%>"</p>
                    </blockquote>
                <% } %>
           
               <div class="news_d_footer flex-column flex-sm-row">
                 
                <a href="https://aws.amazon.com/education/awseducate/" target="_blank"><span class="align-middle mr-2"><i class="ti-heart"></i></span>Powered by AWS Educate</a>
                <!-- <a class="justify-content-sm-center ml-sm-auto mt-sm-0 mt-2" href="#"><span class="align-middle mr-2"><i class="ti-themify-favicon"></i></span>06 Comments</a> -->
                 
                 <div class="news_socail ml-sm-auto mt-sm-0 mt-2">
               <a href="https://www.facebook.com/AWScommunityPakistan" target="_blank"><i class="fab fa-facebook-f"></i></a>
               <a href="https://www.linkedin.com/company/aws-community-pakistan" target="_blank"><i class="fab fa-linkedin"></i></a>
               
                </div>
               </div>
            </div>


          <!-- <div class="navigation-area">
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                          <div class="thumb">
                              <a href="#"><img class="img-fluid" src="/img/blog/prev.jpg" alt=""></a>
                          </div>
                          <div class="arrow">
                              <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                          </div>
                          <div class="detials">
                              <p>Prev Post</p>
                              <a href="#"><h4>A Discount Toner</h4></a>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                          <div class="detials">
                              <p>Next Post</p>
                              <a href="#"><h4>Cartridge Is Better</h4></a>
                          </div>
                          <div class="arrow">
                              <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                          </div>
                          <div class="thumb">
                              <a href="#"><img class="img-fluid" src="/img/blog/next.jpg" alt=""></a>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="comments-area">
                    <h4>05 Comments</h4>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="/img/blog/c1.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5><a href="#">Emilly Blunt</a></h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Never say goodbye till the end comes!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                    <a href="" class="btn-reply text-uppercase">reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list left-padding">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="/img/blog/c2.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5><a href="#">Elsie Cunningham</a></h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Never say goodbye till the end comes!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                    <a href="" class="btn-reply text-uppercase">reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list left-padding">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="/img/blog/c3.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5><a href="#">Annie Stephens</a></h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Never say goodbye till the end comes!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                    <a href="" class="btn-reply text-uppercase">reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="/img/blog/c4.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5><a href="#">Maria Luna</a></h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Never say goodbye till the end comes!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                    <a href="" class="btn-reply text-uppercase">reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="/img/blog/c5.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5><a href="#">Ina Hayes</a></h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                    <p class="comment">
                                        Never say goodbye till the end comes!
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                    <a href="" class="btn-reply text-uppercase">reply</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form>
                        <div class="form-group form-inline">
                          <div class="form-group col-lg-6 col-md-6 name">
                            <input type="text" class="form-control" id="name" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
                          </div>
                          <div class="form-group col-lg-6 col-md-6 email">
                            <input type="email" class="form-control" id="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                          </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                        </div>
                        <a href="#" class="button submit_btn">Post Comment</a>
                    </form>
                </div> -->
        </div>

        <!-- Start Blog Post Siddebar -->
        <div class="col-lg-4 sidebar-widgets">
            <div class="widget-wrap">
              <div class="single-sidebar-widget newsletter-widget">
                <h4 class="single-sidebar-widget__title">Newsletter</h4>
                <div class="form-group mt-30">
                  <div class="col-autos">
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Enter email'">
                  </div>
                </div>
                <button id="subscribe-btn-show" class="bbtns d-block mt-20 rounded w-100">Subcribe</button>
              </div>


              <div class="single-sidebar-widget post-category-widget">
                <h4 class="single-sidebar-widget__title">Category</h4>
                <ul class="cat-list mt-20">
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Cloud</p>
                        <p>(03)</p>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Technology</p>
                        <p>(09)</p>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>AWS Pakistan</p>
                        <p>(12)</p>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Open Source</p>
                        <p>(02)</p>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Pages</p>
                        <p>(10)</p>
                      </a>
                    </li>
                  </ul>
              </div>

              <div class="single-sidebar-widget popular-post-widget">
                <h4 class="single-sidebar-widget__title">Popular Post</h4>
                <div class="popular-post-list">
                    <% for(var blog of allblogs){ %>
                        <% if (allblogs.indexOf(blog) > 2){ %>
                          <% break;} %>  
                        <div class="single-post-list">
                          <div class="thumb">
                            <img class="card-img rounded-0" src="<%= blog.image %>" alt="">
                            <ul class="thumb-info">
                              <li><a href="/blog/<%= blog._id%>"><%=blog.author%></a></li>
                              <li><a href="/blog/<%= blog._id%>">Dec 15</a></li>
                            </ul>
                          </div>
                          <div class="details mt-20">
                            <a href="/blog/<%= blog._id%>">
                              <h6><%=blog.title%></h6>
                            </a>
                          </div>
                        </div>
                      <% } %>
                </div>
              </div>

              <div class="single-sidebar-widget tag_cloud_widget mb-4">
                <h4 class="single-sidebar-widget__title">Popular Tags</h4>
                <ul class="list">
                  <li>
                      <a href="#" class="tag-list rounded">AWS</a>
                  </li>
                  <li>
                      <a href="#" class="tag-list rounded">Cloud</a>
                  </li>
                  <li>
                      <a href="#" class="tag-list rounded">Technology</a>
                  </li>
                  <li>
                      <a href="#" class="tag-list rounded">Communication</a>
                  </li>
                  <li>
                      <a href="#" class="tag-list rounded">Resourceful</a>
                  </li>
                  
                </ul>
              </div>
            </div>
        </div>
        <!-- End Blog Post Siddebar -->
        </div>
    </div>
  </section>
<%- include('../partials/footer') -%>
